body {
    background-color: #ebebeb;
}
.page-outer {
    background-color: #fff;
    border: 1px solid #cacaca;
    width: 818px;
    margin: 65px auto;
    .box-shadow(0 0 4px rgba(0,0,0,0.1));
}
.page-inner {
    width: 816px;
    min-height: 1056px;
}
.page-content {
    padding: 0 96px;
}
.page-print-block {
    height: 96px;
}

.moving {
    background-color: #666;
    .opacity(50);
    border: 1px solid #ededed;
    * {
        visibility: hidden;
    }
}

.sortable-placeholder {
    border: 2px dashed #ededed;
    background-color: #f7f7f9;
}

.page-content {
    h1 {
        font-size: 28px;

        input {
            font-size: 28px;
            line-height: 40px;
            height: 40px;
            vertical-align: top;
            font-weight: bold;
        }
    }
    h2 {
        font-size: 21px;
    }

    [data-action="editable"] {
        border-bottom: 1px dashed #000;

        input {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            border: none;
            box-shadow: none;
            background-color: #eee;
            border-radius: 0;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }

    .sortable-container {
        min-height: 40px;
    }

    li.sortable-placeholder {
        min-height: 30px !important;
    }

    .content-block {
        margin: 40px 0;
        position: relative;

        h2:hover {
            cursor: move;
            text-transform:uppercase;
        }

        li {
            list-style-type: disc;
        }
        
        .atcion-btns {
            display: none;
            position: absolute;
            right: 0;
            top: 0;
            button {
                margin-left: 5px;
            }
        }
        &:hover .atcion-btns {
            display: block;
        }

        .item {
            position: relative;

            .remove {
                position: absolute;
                left: 0;
                top: 0;
                display: none;
            }

            &:hover .remove {
                display: block;
            };
        }
        
        .row-list {
            .view {
                display: list-item;
                list-style-type: disc;
                list-style-position: inside;

                &.hide {
                    display: none;
                }
            }
        }
    }

}

header {
    background: #ffffff;
    border-bottom: 1px solid #cacaca;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;

    .options {
        li {
            background-color: #6BB5E7;
            line-height: 30px;
            padding: 0 10px;
            margin: 10px 10px 0 0;
            color: white;
            display: inline-block !important;
            height: 30px !important;
            cursor: move;
        }

        li.ui-draggable-dragging {
            .box-shadow(1px 1px 4px #bbb);
        }

        li.disabled {
            .opacity(40);
            cursor: not-allowed;
        }
    }
}

footer {
    background: #ffffff;
    border-top: 1px solid #cacaca;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
}
