body {
    overflow: inherit;
}
header,
footer {
    display: none;
}
.container-actions {
    display: none !important;
}
.page-container {
    height: 100% !important;
}
.page-outer {
    border: none;
    .box-shadow(none);
    margin: 0;
}

.page-content section:hover .atcion-btns {
    display: none;
}

.page-content [data-action="editable"] {
        border-bottom: 0 none;
}

.page-content .content-block:hover .atcion-btns {
    display: none;
}

.redactor_air,
.redactor_dropdown {
    display: none !important;
}


/*Print header footer*/
.page-print-block {
    display: none;
}
@page {
    margin-top: 96px;
    margin-bottom: 96px;

    @top-left {
        content: element(topLeft);
    }

    @top-center {
        content: element(topCenter);
    }

    @top-right {
        content: element(topRight);
    }
}

.page-break {
    border: none;
    page-break-after: always;
    * {
        display: none;
    }
}
.page-break:after {
    display: none;
}

#top-left {
    position: running(topLeft);
}
#top-center {
    position: running(topCenter);
}
#top-right {
    running(topRight);
}

