<div class="content-block">
    <div class="clearfix atcion-btns">
        <button class="btn btn-small btn-danger pull-right" data-action="block/remove">Remove</button>
        <button class="btn btn-small pull-right" data-action="item/add('list')">Add</button>
    </div>
    <h2>CERTIFICATES:</h2>
    <div class="row">
        <div class="span8" contenteditable="true">
            <ul class="item-container">
                <% for (var i = 0, l = data.length; i < l; i++) { %>
                <% var d = data[i]; %>
                <li><%= d; %></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>