<%
var content = data.content;
%>
<div class="content-block item-container" data-type="certificates">
    <div class="clearfix atcion-btns">
        <button class="btn btn-small btn-danger pull-right" data-action="block/remove">Remove</button>
        <button class="btn btn-small pull-right" data-action="item/add('list')">Add</button>
    </div>
    <h2>CERTIFICATES:</h2>

    <% for (var i = 0, l = content.length; i < l; i++) { %>
    <% var d = content[i]; %>
    <div class="row item row-list">
        <div class="span8" data-action="editable">
            <a href="#" data-action="item/remove" class="remove"><span class="icon-remove"></span></a>
            <span class="view"><%= d %></span>
            <span class="edit hide">
                <input type="text" data-action="change/value">
            </span>
        </div>
    </div>
    <% } %>
</div>