<div class="content-block item-container" data-type="education">
    <div class="clearfix atcion-btns">
        <button class="btn btn-small btn-danger pull-right" data-action="block/remove">Remove</button>
        <button class="btn btn-small pull-right" data-action="item/add('education')">Add</button>
    </div>
    <h2>EDUCATION:</h2>
    <% for (var i = 0, l = data.length; i < l; i++) { %>
    <% var d = data[i]; %>
    <div class="row item">
        <a href="#" data-action="item/remove" class="remove"><span class="icon-remove"></span></a>
        <div class="span2">
            <span data-action="editable">
                <span class="view"><%= d.from %></span>
                <span class="edit hide">
                    <input type="text" data-action="change/value('from')">
                </span>
            </span>
            - 
            <span data-action="editable">
                <span class="view"><%= d.to %></span>
                <span class="edit hide">
                    <input type="text" data-action="change/value('to')">
                </span>
            </span>
        </div>
        <div class="span6">
            <div data-action="editable">
                <span class="view"><%= d.school %></span>
                <span class="edit hide">
                    <input type="text" data-action="change/value('school')">
                </span>
            </div>
            <div data-action="editable">
                <span class="view"><%= d.specialized %></span>
                <span class="edit hide">
                    <input type="text" data-action="change/value('specialized')">
                </span>
            </div>
        </div>
    </div>
    <% } %>
</div>