<div class="content-block item-container" data-type="compensation">
    <div class="clearfix atcion-btns">
        <button class="btn btn-small btn-danger pull-right" data-action="block/remove">Remove</button>
    </div>
    <h2>COMPENSATION:</h2>
    <div class="row item">
        <a href="#" data-action="item/remove" class="remove"><span class="icon-remove"></span></a>
        <div class="span2">Current</div>
        <div class="span6" data-action="editable">
            <span class="view"><%= data.current %></span>
            <span class="edit hide"><input type="text"></span>
        </div>
    </div>
    <div class="row item">
        <a href="#" data-action="item/remove" class="remove"><span class="icon-remove"></span></a>
        <div class="span2" contenteditable="true">Expectation</div>
        <div class="span6" data-action="editable">
            <span class="view"><%= data.expectation %></span>
            <span class="edit hide"><input type="text"></span>
        </div>
    </div>
</div>