<div class="content-block" data-type="professional-experience">
    <div class="clearfix atcion-btns">
        <button class="btn btn-small btn-danger pull-right" data-action="block/remove">Remove</button>
        <button class="btn btn-small pull-right" data-action="item/add('exp')">Add</button>
    </div>
    <div class="clearfix atcion-btns atcion-btns-bottom">
        <button class="btn btn-small btn-danger pull-right" data-action="block/remove">Remove</button>
        <button class="btn btn-small pull-right" data-action="item/add('exp')">Add</button>
    </div>
    <h2><%= data.title %>:</h2>

    <div class="sortable-items item-container">
        
        <% var content = data.content; %>
        <% for (var i = 0, l = content.length; i < l; i++) { %>
        <% var d = content[i]; %>
        <div class="row item">
            <a href="#" data-action="item/remove" class="remove"><span class="icon-remove"></span></a>
            <div class="span2">
                <span data-action="editable">
                    <span class="view from"><%= d.from %></span>
                    <span class="edit hide">
                        <input type="text" data-action="change/value('from')">
                    </span>
                </span>
                -
                <span data-action="editable">
                    <span class="view to"><%= d.to %></span>
                    <span class="edit hide">
                        <input type="text" data-action="change/value('to')">
                    </span>
                </span>
            </div>
            <div class="span6">
                <div data-action="editable">
                    <span class="view company"><%= d.company %></span>
                    <span class="edit hide">
                        <input type="text" data-action="change/value('company')">
                    </span>
                </div>
                <div data-action="editable">
                    <span class="view title"><%= d.title %></span>
                    <span class="edit hide">
                        <input type="text" data-action="change/value('title')">
                    </span>
                </div>
            </div>
            <div class="span8 redactor-area">
                <div class="text-right">
                    <button class="btn btn-small redactor-edit-btn" data-action="redactor/edit">Edit</button>
                    <button class="btn btn-small btn-primary redactor-save-btn" data-action="redactor/save">Save</button>
                </div>
                
                <div class="redactor-content description">
                    <%= d.description %>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
