<div class="content-block item-container" data-type="client-information">
    <div class="clearfix atcion-btns">
        <button class="btn btn-small btn-danger pull-right" data-action="block/remove">Remove</button>
        <button class="btn btn-small pull-right" data-action="item/add('pair')">Add</button>
    </div>
    <h2>CLIENT INFORMATION:</h2>
    <% for (var i = 0, l = data.length; i < l; i++) { %>
    <% var d = data[i]; %>
    <div class="row item">
        <a href="#" data-action="item/remove" class="remove"><span class="icon-remove"></span></a>
        <div class="span2" data-action="editable">
            <span class="view"><%= d.type %></span>
            <span class="edit hide"><input type="text"></span>
        </div>
        <div class="span6" data-action="editable">
            <span class="view"><%= d.txt %></span>
            <span class="edit hide"><input type="text"></span>
        </div>
    </div>
    <% } %>
</div>